<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Common" version="0.8.0" targetFramework="net45" />
  <package id="Cake.Core" version="0.8.0" targetFramework="net45" />
  <package id="FluentScheduler" version="3.1.46" targetFramework="net45" />
  <package id="LightInject" version="4.0.2" targetFramework="net45" />
  <package id="LightInject.Annotation" version="1.0.0.4" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting" version="1.0.0-rc2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="1.0.0-rc2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.CSharp" version="1.0.0-rc2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Scripting.VisualBasic" version="1.0.0-rc2" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.0" targetFramework="net45" />
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net45" />
  <package id="Mono.Helpers" version="1.2.1" targetFramework="net45" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net45" />
  <package id="Nancy" version="1.4.2" targetFramework="net45" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Serilog" version="1.5.14" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net45" />
  <package id="Topshelf" version="3.3.0" targetFramework="net45" />
  <package id="Topshelf.Serilog" version="3.3.0" targetFramework="net45" />
  <package id="Topshelf.Unix" version="1.2.1" targetFramework="net45" />
</packages>